[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
keyring = "*"
requests = "*"

[dev-packages]
build = "*"
sphinx = "*"
sphinx-argparse = "*"
pytest = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.11"
