[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "~=4.12.2"
keyring = "~=23.13.1"
requests = "~=2.30.0"

[dev-packages]
build = "*"
flit = "*"
sphinx = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
